.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.box-shadow-inset {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2) inset;
}
.circle {
  border-radius: 50%;
  overflow: hidden;
}
.chizel-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}
#homepage {
  padding: 0 !important;
}
#homepage .container {
  width: auto !important;
  position: static !important;
  margin: 0 auto !important;
}
#homepage .masthead .nav-collapse {
  float: none;
  margin: 0;
  padding: 0;
  position: static;
  transition: none;
}
#homepage .masthead .navigation {
  float: none;
  margin: 0;
}
#homepage .masthead .navigation .nav {
  position: static;
  float: none;
}
#homepage .masthead .navigation .nav li {
  float: none;
  vertical-align: top;
}
#homepage .masthead .site-search {
  float: none;
}
#homepage .masthead .site-search .field {
  position: static;
}
#homepage [role=main] {
  position: static;
  background: #f8f8f8;
  padding: 0;
}
#homepage .module-content {
  padding: 0;
  margin: 0;
}
#homepage .box {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
#homepage .homepage .module-search {
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
}
#homepage .homepage .module-search .module-content {
  border: 0;
  border-radius: 0;
  background-color: #006bb6;
  padding: 0;
  margin: 0;
}
#homepage .homepage .module-search .module-content .heading {
  margin-bottom: 0px;
  font-size: 30px;
  line-height: normal;
}
#homepage .homepage .module-search .search-form .search-input.search-giant {
  position: static;
}
#homepage .homepage .module-search .search-form .search-input.search-giant input {
  max-width: 770px;
  height: 55px;
  border: 0;
  border-radius: 0;
  font-size: 28px;
  padding: 0 20px;
  line-height: normal;
  box-sizing: border-box;
}
#homepage .homepage .module-search .search-form .search-input.search-giant button {
  margin: 0 0 30px 0;
  width: 80px;
  height: 55px;
  position: static;
  display: inline-block;
  background-color: #80b5db;
  margin-left: -2px;
}
#homepage .homepage .module-search .search-form .search-input.search-giant button i {
  color: #006bb6;
  width: 32px;
  height: 32px;
  font-size: 32px;
}
#homepage .span6 {
  width: auto;
  float: none;
  margin-left: 0;
}
#homepage .module .module-heading {
  padding: 0;
  border: 0;
  line-height: normal;
  background-color: white;
}
#homepage .module .module-heading h3 {
  line-height: normal;
  margin: 0;
}
#homepage .dataset-item.module-content,
#homepage .module-shallow .module-content:first-child {
  margin: 0;
  padding: 0;
}
#homepage .module-content.lower-content {
  margin-bottom: 365px;
}
#homepage li {
  line-height: normal;
}
#homepage .wrapper {
  position: static;
  background: none;
  border-radius: 0;
  box-shadow: none;
}
#homepage .wrapper .dataset-item {
  border: 0;
  padding: 0;
  margin: 0;
}
#homepage .primary.span9,
#homepage .secondary.span3 {
  display: inline-block;
  float: none;
  margin: 0;
  padding: 0;
}
#homepage {
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: #f8f8f8;
  color: #333333;
  font-size: 16px;
  line-height: 1;
}
#homepage h1,
#homepage h2,
#homepage h3,
#homepage h4,
#homepage h5,
#homepage h6,
#homepage p {
  line-height: normal;
  font-weight: normal;
  margin: 0;
}
#homepage p {
  font-family: Georgia, Serif;
  font-size: 16px;
  line-height: 1.55;
}
#homepage li {
  list-style: none;
}
#homepage a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
#homepage a:hover {
  text-decoration: none;
}
#homepage button,
#homepage input {
  font-family: 'Titillium Web', sans-serif;
  line-height: 1;
  padding: 0;
  border: 0;
}
#homepage button::-moz-focus-inner,
#homepage input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#homepage ul {
  padding: 0;
  margin: 0;
}
#homepage .hide {
  display: none;
}
#homepage .label {
  text-transform: uppercase;
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
}
#homepage .label[data-format=html],
#homepage .label[data-format*=html] {
  background-color: #55a1ce;
}
#homepage .label[data-format=json],
#homepage .label[data-format*=json] {
  background-color: #ef7100;
}
#homepage .label[data-format=xml],
#homepage .label[data-format*=xml] {
  background-color: #ef7100;
}
#homepage .label[data-format=text],
#homepage .label[data-format*=text] {
  background-color: #74cbec;
}
#homepage .label[data-format=csv],
#homepage .label[data-format*=csv] {
  background-color: #dfb100;
}
#homepage .label[data-format=xls],
#homepage .label[data-format*=xls] {
  background-color: #2db55d;
}
#homepage .label[data-format=zip],
#homepage .label[data-format*=zip] {
  background-color: #686868;
}
#homepage .label[data-format=api],
#homepage .label[data-format*=api] {
  background-color: #ec96be;
}
#homepage .label[data-format=pdf],
#homepage .label[data-format*=pdf] {
  background-color: #e0051e;
}
#homepage .label[data-format=rdf],
#homepage .label[data-format*=rdf],
#homepage .label[data-format*=nquad],
#homepage .label[data-format*=ntriples],
#homepage .label[data-format*=turtle] {
  background-color: #0b4498;
}
#homepage .label[data-format=dwg],
#homepage .label[data-format*=dwg] {
  background-color: #3fa9f5;
}
#homepage .label[data-format=fgdb],
#homepage .label[data-format*=fgdb] {
  background-color: #2da343;
}
#homepage .label[data-format=kml],
#homepage .label[data-format*=kml] {
  background-color: #264fbd;
}
#homepage .label[data-format=tif],
#homepage .label[data-format*=tif] {
  background-color: #814d9f;
}
#homepage .account-masthead {
  background: #13368f;
  border-bottom: 0px solid #cccccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#homepage .account-masthead .container {
  max-width: 940px;
  margin: 0 auto;
  text-align: right;
}
#homepage .account-masthead .account ul li {
  border-left: 0px;
}
#homepage .account-masthead .account ul li a,
#homepage .account-masthead .account ul li a:hover {
  padding: 0;
  color: white;
  font-size: 15px;
  font-weight: normal;
  background-color: inherit;
}
#homepage .account-masthead .account ul li a + a {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px;
  border-color: white;
}
#homepage .masthead {
  background: white;
}
#homepage .masthead .btn-navbar {
  display: none;
}
#homepage .masthead .header-image {
  float: inherit;
  height: 70px;
  max-width: 940px;
  margin: 0 auto;
  padding: 25px 0 0;
}
#homepage .masthead .header-image a {
  display: inline-block;
}
#homepage .masthead .header-image img {
  height: 45px;
}
#homepage .masthead .navigation {
  background-color: #d0d0d0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2) inset;
  position: relative;
}
#homepage .masthead .navigation .nav {
  max-width: 940px;
  margin: 0 auto;
}
#homepage .masthead .navigation .nav > li {
  display: inline-block;
  padding: 10px 0;
}
#homepage .masthead .navigation .nav > :last-child {
  float: right;
}
#homepage .masthead .navigation .nav > li + li {
  margin-left: 30px;
}
#homepage .masthead .navigation .nav li > a {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  padding: 0;
  margin: 0;
}
#homepage .masthead .navigation .nav li > a:hover {
  background-color: transparent;
}
#homepage .masthead .navigation .nav li ul {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 100%;
  display: none;
  background-color: #bfbfbf;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2) inset;
}
#homepage .masthead .navigation .nav li ul div {
  max-width: 940px;
  margin: 0 auto;
}
#homepage .masthead .navigation .nav li ul li {
  display: inline-block;
}
#homepage .masthead .navigation .nav li ul li + li {
  padding-left: 15px;
}
#homepage .masthead .navigation .nav li ul a {
  display: block;
  color: #333;
  font-size: 16px;
  font-weight: normal;
  padding: 6px 16px;
}
#homepage .masthead .navigation .nav li ul li:first-child a {
  padding-left: 0;
}
#homepage .masthead .site-search {
  margin: 0;
}
#homepage .masthead .site-search label,
#homepage .masthead .site-search input {
  display: none;
}
#homepage .masthead .site-search button.btn-search {
  width: 18px;
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  color: #9b9b9b;
  position: static;
  display: inline-block;
  margin-top: 0;
  background-color: transparent;
}
#homepage .masthead .site-search button.btn-search i {
  font-size: 18px;
}
#homepage .intro-text {
  height: 505px;
  width: 100%;
  max-width: 940px;
  padding: 35px 0;
  color: #272727;
  margin: 0px auto;
  background-color: transparent;
}
#homepage .intro-text header {
  height: 100%;
}
#homepage .module-search .search-form {
  min-height: 195px;
  background-color: #006bb6;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#homepage .module-search .search-form h3,
#homepage .module-search .search-form .search-input {
  max-width: 940px;
  margin: 0 auto;
}
#homepage .module-search .search-form h3 {
  color: white;
  font-size: 30px;
  padding: 40px 0 20px;
}
#homepage .module-search .search-form input {
  max-width: 770px;
  height: 55px;
  padding: 0 20px;
  margin-bottom: 30px;
  vertical-align: top;
  color: #888888;
  font-size: 28px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#homepage .module-search .search-form button {
  width: 80px;
  height: 55px;
  margin-left: -3px;
  margin-bottom: 30px;
  background-color: #80b5db;
  vertical-align: top;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#homepage .module-search .search-form button .icon-search {
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;
  color: #006bb6;
  background-color: transparent;
}
#homepage .module-search .search-form button span {
  display: none;
}
#homepage .module-search .search-by-cat {
  margin-bottom: 135px;
}
#homepage .module-search .search-by-cat h3 {
  display: none;
}
#homepage .module-search .search-by-cat .custom-media-grid {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}
#homepage .module-search .search-by-cat .custom-media-item {
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  width: 230px;
}
#homepage .module-search .search-by-cat .custom-media-item a {
  display: inline-block;
}
#homepage .module-search .search-by-cat .custom-media-item img {
  display: inline-block;
  width: 148px;
  height: 148px;
  border-radius: 50%;
  margin-bottom: 10px;
  vertical-align: baseline;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#homepage .module-search .search-by-cat .custom-media-item span {
  display: block;
  font-size: 18px;
  color: #555555;
}
#homepage .row {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #ccc;
  background-color: white;
}
#homepage .row .span6 + .span6 {
  border-top: 1px solid #cccccc;
}
#homepage .group-list {
  padding: 20px 40px;
}
#homepage .group-list .media-heading {
  display: inline-block;
  padding: 0 40px 5px 0;
  margin: 0;
  font-size: 26px;
  font-weight: bold;
  color: #3389c5;
  vertical-align: middle;
}
#homepage .group-list .media-heading + p {
  display: inline-block;
  max-width: 519px;
  margin: 0;
  font-size: 16px;
  color: #444444;
  vertical-align: middle;
  font-family: Georgia, Serif;
}
#homepage .group-list .media-content i.md {
  float: right;
  width: 50px;
  height: 50px;
  margin: 0 -65px 0 0;
  border: 1px solid #dddddd;
  border-radius: 50px;
  color: #dddddd;
  font-size: 28px;
  line-height: 50px;
  text-align: center;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#homepage .span6:not(:first-child) .dataset-list.unstyled {
  display: none;
}
#homepage .span6:not(.open) {
  cursor: pointer;
}
#homepage .dataset-item + .dataset-item {
  border-top: 1px solid #cccccc;
}
#homepage .dataset-content {
  padding: 30px 50px 0;
}
#homepage .dataset-content h3 a {
  color: #006bb6;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
#homepage .dataset-content h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 10px 0 15px;
  font-size: 22px;
}
#homepage .dataset-content h4 + div {
  font-size: 16px;
  color: #444444;
  line-height: 1.2;
  font-family: Georgia, Serif;
  line-height: 24px;
}
#homepage .dataset-content .dataset-group li {
  margin: 7px 0;
  color: #444444;
  font-style: italic;
  font-size: 16px;
}
#homepage .dataset-resources {
  padding: 15px 50px 30px;
}
#homepage .dataset-resources li {
  display: inline-block;
}
#homepage .lower-content {
  max-width: 940px;
  margin: 195px auto 365px;
  text-align: center;
}
#homepage .lower-content > :first-child {
  display: inline-block;
  max-width: 475px;
  height: 875px;
  overflow: hidden;
  padding: 40px 30px;
  border: 1px solid #ccc;
  background-color: white;
  vertical-align: top;
  text-align: left;
}
#homepage .lower-content .twitter-feed {
  display: inline-block;
  width: 370px;
  height: 958px;
  margin-left: 25px;
  vertical-align: top;
  text-align: left;
}
#homepage .lower-content .twitter-feed h2 {
  display: none;
}
#homepage .lower-content .twitter-feed iframe {
  height: 100%;
}
#homepage #block-views-last-articles-block h2 {
  font-size: 30px;
  font-weight: bold;
  color: #3389c5;
}
#homepage #block-views-last-articles-block .last-articles {
  padding: 30px 15px;
}
#homepage #block-views-last-articles-block .last-articles .views-field-title a {
  font-size: 22px;
  color: #333333;
}
#homepage #block-views-last-articles-block .last-articles .views-field-name {
  margin: 5px 0 15px;
  color: #006bb6;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
#homepage #block-views-last-articles-block .last-articles .views-field-body {
  font-size: 20px;
  color: #444444;
  overflow: hidden;
}
#homepage #block-views-last-articles-block .last-articles .views-field-field-image {
  float: left;
  max-width: 115px;
  margin-right: 20px;
}
#homepage #block-views-last-articles-block .last-articles .views-field-field-image img {
  min-height: 120px;
  max-width: 120px;
}
#homepage #block-views-last-articles-block .last-articles + .last-articles {
  border-top: 1px solid #cccccc;
}
#homepage #block-views-last-articles-block .last-articles:nth-child(n+6) {
  display: none;
}
#homepage .site-footer {
  background: #b3b3b3;
  height: 635px;
  color: #333333;
  padding: 0;
}
#homepage .site-footer .container {
  max-width: 940px;
  margin: 0 auto;
  padding: 10px 0 0;
  background-color: #b3b3b3;
}
#homepage .site-footer .container > * {
  display: inline-block;
  width: 32%;
  min-width: 190px;
  vertical-align: top;
}
#homepage .site-footer .unstyled > li {
  font-size: 20px;
  margin: 30px 0 15px;
  font-weight: 600;
}
#homepage .site-footer .unstyled > li a {
  color: #333333;
}
#homepage .site-footer .unstyled > li li {
  font-size: 16px;
  font-weight: normal;
  margin: 15px 0;
}
#homepage .site-footer hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 0;
}
#homepage .site-footer .license a {
  color: #d9d9d9;
}
#homepage .site-footer .ckan-footer-logo {
  display: block;
  margin: 2px 0 0 120px;
  width: 68px;
  height: 21px;
  font-size: 0;
  vertical-align: middle;
  background: url("http://donneesqcsb.dcats.ca/base/images/ckan-logo-footer.png") no-repeat top left;
}
#homepage .site-footer .datacats-footer-logo {
  margin: -43px 0 0 0;
  vertical-align: middle;
}
#homepage .jssora21l,
#homepage .jssora21r,
#homepage .jssora21ldn,
#homepage .jssora21rdn {
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(http://donneesqcsb.dcats.ca/img/a21.png) center center no-repeat;
  overflow: hidden;
}
#homepage .jssora21l {
  background-position: -3px -33px;
}
#homepage .jssora21r {
  background-position: -63px -33px;
}
#homepage .jssora21l:hover {
  background-position: -123px -33px;
}
#homepage .jssora21r:hover {
  background-position: -183px -33px;
}
#homepage .jssora21ldn {
  background-position: -243px -33px;
}
#homepage .jssora21rdn {
  background-position: -303px -33px;
}
#homepage .jssorb21 div,
#homepage .jssorb21 div:hover,
#homepage .jssorb21 .av {
  width: 10px !important;
  height: 10px !important;
  background-color: #cccccc;
  border-radius: 50%;
}
#homepage .jssorb21 .av {
  background-color: #006bb6;
}
#homepage #block-views-carousel-block > h2 {
  display: none;
}
#homepage #block-views-carousel-block {
  height: 100%;
}
#homepage #block-views-carousel-block .content {
  height: 100%;
}
#homepage #slider1_container {
  height: 100% !important;
  width: 100% !important;
  max-width: 940px !important;
}
#homepage #slider1_container > :first-child,
#homepage #slider1_container > :first-child > div {
  width: 100% !important;
  height: 100% !important;
}
#homepage .carousel-slides {
  cursor: move;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  max-width: 940px;
  height: 505px;
  overflow: hidden;
}
#homepage .carousel-slides .views-row {
  clear: both;
}
#homepage .carousel-slides .img-carousel {
  position: relative;
  display: block;
  float: right;
  padding-left: 40px;
  vertical-align: middle;
}
#homepage .carousel-slides .img-carousel img {
  height: 435px;
}
#homepage .carousel-slides .views-field-title {
  margin-top: 140px;
}
#homepage .carousel-slides .views-field-title h3 a {
  font-size: 42px;
  font-weight: 300;
  color: #333333;
}
#homepage .carousel-slides .views-field-body {
  color: #006bb6;
  font-size: 24px;
}
#homepage .carousel-slides .views-field-body p {
  font-weight: 600;
}
#homepage .toolbar {
  max-width: 940px;
  margin: 40px auto 10px;
}
#homepage .toolbar li,
#homepage .toolbar a,
#homepage .toolbar i {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
#homepage .container > .search-form {
  max-width: 940px;
  margin: 10px auto 30px;
  padding: 30px 35px;
  background-color: white;
  border: 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
#homepage .container > .search-form input {
  height: 40px;
  max-width: 815px;
  padding: 0 15px;
  border: 1px solid #dddddd;
  border-radius: 0;
  font-size: 20px;
  color: #888888;
  line-height: normal;
  vertical-align: top;
}
#homepage .container > .search-form input:-moz-placeholder {
  color: #cccccc;
}
#homepage .container > .search-form input::-moz-placeholder {
  color: #cccccc;
}
#homepage .container > .search-form input-ms-input-placeholder {
  color: #cccccc;
}
#homepage .container > .search-form input::-webkit-input-placeholder {
  color: #cccccc;
}
#homepage .container > .search-form button {
  width: 55px;
  height: 40px;
  margin: 0 0 0 -4px;
  font-size: 18px;
  line-height: 18px;
  color: #9b9b9b;
  position: static;
  display: inline-block;
  background-color: #93b1d9;
  vertical-align: top;
}
#homepage .container > .search-form button i {
  font-size: 18px;
  color: #4365b4;
}
#homepage .search-results {
  max-width: 940px;
  margin: 30px auto 50px;
  color: #999999;
}
#homepage .search-results h2 {
  text-align: center;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}
#homepage .search-results .search-results-counter {
  float: left;
  margin-top: 17px;
}
#homepage .search-results .control-order-by {
  float: right;
  margin: 10px 0 0;
}
#homepage .search-results .control-order-by label,
#homepage .search-results .control-order-by select {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
#homepage .search-results .control-order-by select {
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  border: 0;
  background-color: transparent;
  color: #999999;
  outline-color: transparent;
}
#homepage .row.wrapper {
  padding: 0;
  margin-bottom: 365px;
  border-top: 4px solid #4265b4;
}
#homepage .row.wrapper .dataset-item + .dataset-item {
  border-color: #eeeeee;
}
#homepage .primary.span9 {
  width: 100%;
}
#homepage .primary.span9 .pagination a {
  padding: 7px 12px;
  margin-top: 10px;
  border: 1px solid #dddddd;
  color: #aaaaaa;
}
#homepage .primary.span9 .pagination li + li a {
  border-left-width: 0;
}
#homepage .primary.span9 small {
  display: none;
}
#homepage .secondary.span3 {
  display: none;
  width: 70%;
  border: 1px solid #cccccc;
  border-left-width: 0;
  max-width: 345px;
  text-align: right;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
}
#homepage .secondary.span3 .module + .module {
  border-top: 1px solid #ccc;
}
#homepage .secondary.span3 .module-heading {
  font-size: 20px;
  padding: 25px 40px 15px;
  color: #666666;
  text-transform: uppercase;
}
#homepage .secondary.span3 .module-heading .icon-filter {
  display: none;
}
#homepage .secondary.span3 .nav-item {
  border-width: 0;
  padding: 7px 40px;
}
#homepage .secondary.span3 .nav-item:hover {
  background-color: #d2e0f0;
}
#homepage .secondary.span3 .nav-item:hover:after {
  content: "\f299";
  float: right;
  margin: -20px -30px 0 0;
  font-family: 'Material Design Iconic Font';
  font-size: 20px;
  line-height: 1;
  color: #4365b4;
  speak: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  background: none;
}
#homepage .secondary.span3 .nav-item:hover a:before,
#homepage .secondary.span3 .nav-item:hover a:after {
  display: none;
}
#homepage .secondary.span3 .nav-item.active {
  background-color: #4365b4;
}
#homepage .secondary.span3 .nav-item.active:after {
  content: "\f0fb";
  float: right;
  margin: -20px -30px 0 0;
  font-family: 'Material Design Iconic Font';
  font-size: 20px;
  line-height: 1;
  color: white;
  speak: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  background: none;
}
#homepage .secondary.span3 .nav-item.active a:before,
#homepage .secondary.span3 .nav-item.active a:after {
  display: none;
}
#homepage .secondary.span3 a,
#homepage .secondary.span3 span {
  font-size: 16px;
  background-url: none;
  background-image: none;
  background-color: transparent;
  position: static;
}
#homepage .secondary.span3 .module-footer {
  border-width: 0;
}
#homepage .secondary.span3 .module-footer a {
  font-size: 14px;
  padding: 0 25px;
  color: #333333;
  text-decoration: underline;
}
.b-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#homepage .b-footer {
  background: #a9a9a9;
  overflow: hidden;
  padding-bottom: 30px;
}
#homepage .b-footer section {
  padding: 40px 0;
  display: block;
  clear: both;
}
#homepage .b-footer section a {
  color: #333;
}
#homepage .b-footer section a:hover {
  text-decoration: underline;
}
#homepage .b-footer .creative-commons-badge {
  float: left;
  width: 100px;
}
#homepage .b-footer .social-media {
  overflow: hidden;
  float: right;
}
#homepage .b-footer .social-media .social-media-item {
  display: inline-block;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  background-color: #888;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}
#homepage .b-footer .social-media .social-media-item:hover {
  color: white;
  background-color: #444;
}
#homepage .b-footer .middle {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}
#homepage .b-footer .middle ul {
  margin-right: 30px;
}
#homepage .b-footer .middle ul:last-child {
  margin-right: 0;
}
#homepage .b-footer .middle ul li {
  margin-bottom: 10px;
}
#homepage .b-footer .middle ul .top-level {
  font-size: 16px;
  font-weight: bold;
  margin-top: 25px;
}
#homepage .b-footer .middle .attribution {
  margin-top: 130px;
}
#homepage .b-footer .middle .attribution p {
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  vertical-align: bottom;
}
#homepage .b-footer .small-type {
  font-size: 11px;
}
#homepage .b-footer .copyright {
  font-size: 12px;
}
#homepage-header .b-social-media-header {
  float: right;
}
#homepage-header .b-social-media-header .social-media-item {
  height: 32px;
  width: 32px;
  background-color: #bbb;
  margin: 0 0 0 5px;
  border-radius: 50%;
  overflow: hidden;
}
#homepage-header .b-social-media-header .social-media-item:hover {
  background-color: #13368f;
  color: white;
}
@media (max-width: 767px) {
  #homepage .lower-content .twitter-feed,
  #homepage .carousel-slides .img-carousel {
    display: none;
  }
}
